/* ================= GENERAL FORMATTING ================= */
body {
    letter-spacing: 0.5px;
    color: #ffffff;
    background: linear-gradient(to top right, #010326, #1e0025);
    transition: background 0.4s, color 0.4s;
}

.dark-mode {
    background: linear-gradient(to top right, #e1e3ff, #fbebff);
    color: #000000;
}

h2 {
    color: #ffffff;
    text-decoration-line: underline;
}
.dark-mode h2 {
    color: #000000;
    text-decoration-line: underline;
}

.navbar {
    background: linear-gradient(to top right, #2a2d5b7b, rgba(80, 50, 100, 0.5));
    z-index: 2;
    width: 100%;
    border-color: #e2e2e2;
    
}

.navbar-toggler {
    border-color: #e2e2e2;
    color: #e2e2e2;
}

.dark-mode .navbar-toggler {
    border-color: #1f073f;
    color: #1f073f;
}

.navbar-toggler-icon {
    color: #e2e2e2;
}

/* Panel styling */
.card {
    margin: 12px;
    width: 100%;
    background: linear-gradient(to top right, #2a2d5b7b, rgba(80, 50, 100, 0.5));
    color: #ffffff;
}
.dark-mode .card {
    color: #1f073f;
    background: linear-gradient(to top right, #c3c3e7, #e6c7e6);
}
.dark-mode h2 {
    color: #1f073f;
}

.col-12 {
    max-width: 90%;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .panel-body { padding: 10px; }
    .panel-heading, .panel-footer { padding: 8px 12px; }
}

/* ================= SIDEBAR ================= */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to top right, #2a2d5bdb, rgba(80, 50, 100, 0.863));
    overflow-x: hidden;
    padding-top: 60px;
}
.dark-mode .sidebar {
    background: linear-gradient(to top right, #c3c3e7cb, #e6c7e6bd);
}
  
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e2e2e2;
    display: block;
    transition: 0.3s;
}
.dark-mode .sidebar a {
    color: #414141;
}

.sidebar a:hover {
    text-decoration-line: underline;
    color: #e2e2e2;
}
.dark-mode .sidebar a:hover {
    color: #414141;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 10%;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
}

#mySidebar {
    transition: 0.5s;
}

/* ================= OTHER STUFF ================= */
#testing {
    transition: 0.5s;
    margin: 48px;
}

/* ================= CHART ================= */
#testChart {
    width: 100%;
    height: 400px; /* Ensure it has height */
}

/* ================= Admin styles ================= */

#AdminHeading {
    text-align: center;
    color: #ffffff !important;
}

#AdminPanel {
    margin-top: 25px;
    text-align: center;
    color: white; 
    width: 45%;
}

#AdminPanelHeading {
    text-decoration-line: underline;
}

#AdminPanelBody {
    color: white;
}

#AdminPanelFormLeft {
    text-align: left;
    height: 300px;
}

#AdminPanelFormContent {
    float : left;
    flex-direction: column;
    display: flex;
}

#AdminPanelFormContentInputs {
    float : left;
    margin-top: 25px;
}

#AdminPanelFormRigth {
    float : right;
    flex-direction: column; 
    display: flex; 
    height: 295px; 
    position: relative;
}

#AdminPanelAddUserBtn {
    position: absolute; 
    bottom: 0; 
    right: 0;
}

/* ================= Network styles ================= */
#citychart {
    color: #ffffff;
}